* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
}
#fundo {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(43, 3, 61), rgb(146, 0, 85)) no-repeat;
    
}
#calc {
    display: flex;
    flex-direction: column;
    background-color: #c4c4c4;
    color: #000;
    padding: 0.5em;
    width: 100%;
    height: 100vh;
}
#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666;
}
#operations {
    text-align: right;  
}
#previous-operatior, #current-operatior {
    overflow-wrap: break-word;
    min-height: 1.6em;
    padding: .2em;
}
#previous-operatior {
    color: #777;
}
#current-operatior {
    font-weight: 700;
    font-size: 3em;
}
#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#buttons-container button {
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}
#buttons-container .number {
    background-color: #f3f3f3;
}
#buttons-container button:hover {
    background-color: #bababa;
}
#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #75a5cb;
}
#buttons-container #equal-btn:hover {
    background-color: #3a91d8;
}
@media screen and (min-width: 768px) {
    #fundo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3em;
    }
    #calc {
        background-color: #c4c4c4;
        color: #000;
        padding: 0.5em;
        width: 400px;
    }
}
